<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger
        name="be.ugent.idlab.knows.functions.agent.dataType.DefaultDataTypeConverter"
        level="ERROR"
    />
    <logger
        name="be.ugent.idlab.knows.functions.agent.functionModelProvider.fno.FnOFunctionModelProvider"
        level="WARN"
    />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
